<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atzzuli.imovie.DAO.TypeDAO">

    <!--新增类别-->
    <insert id="addType">
        insert into type1 values (#{type1})
    </insert>

    <!--查找类别-->
    <select id="retrieveType" resultType="com.atzzuli.imovie.entity.Type" >
        select * from type1
    </select>

    <!--删除类别-->
    <delete id="deleteType">
        delete from type1 where type1 = #{type1}
    </delete>

    <!--修改类别-->
    <update id="updateType">
        update type1 set type1 = #{type1}
    </update>
</mapper>