<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>新增影片类型</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" href="../static/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../static/css/bootstrap-responsive.min.css" />
	<link rel="stylesheet" href="../static/css/fullcalendar.css" />
	<link rel="stylesheet" href="../static/css/unicorn.main.css" />
	<link rel="stylesheet" href="../static/css/unicorn.grey.css" class="skin-color" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<body>
<div id="all1" name="all1">
	<div id="header">
		<h1><a href="./dashboard.html">Unicorn Admin</a></h1>
	</div>

	<div id="search">
		<input type="text" placeholder="Search here..." /><button type="submit" class="tip-right" title="Search"><i class="icon-search icon-white"></i></button>
	</div>
	<div id="user-nav" class="navbar navbar-inverse">
		<ul class="nav btn-group">
			<li class="btn btn-inverse"><a title="" href="#"><i class="icon icon-user"></i> <span class="text">Profile</span></a></li>
			<li class="btn btn-inverse dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="icon icon-envelope"></i> <span class="text">Messages</span> <span class="label label-important">5</span> <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a class="sAdd" title="" href="#">new message</a></li>
					<li><a class="sInbox" title="" href="#">inbox</a></li>
					<li><a class="sOutbox" title="" href="#">outbox</a></li>
					<li><a class="sTrash" title="" href="#">trash</a></li>
				</ul>
			</li>
			<li class="btn btn-inverse"><a title="" href="#"><i class="icon icon-cog"></i> <span class="text">Settings</span></a></li>
			<li class="btn btn-inverse"><a title="" href="major/ga/login.html"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
		</ul>
	</div>

	<div id="sidebar">
		<a href="#" class="visible-phone"><i class="icon icon-tint"></i> Buttons &amp; icons</a>
		<ul>
			<li><a href="index.html"><i class="icon icon-home"></i> <span>Dashboard</span></a></li>

			<li><a href="/retrieveType"><i class="icon-th"></i> <span>分类管理</span></a></li>

			<li><a href="/upload1"><i class="icon-circle-arrow-up"></i> <span>影片上传</span></a></li>

			<li class="submenu">
				<a href="#"><i class="icon-search"></i> <span>影片查找</span> <span class="label">2</span></a>
				<ul>
					<li><a href="/retrievebyName">以电影名查找</a></li>
					<li><a href="/retrievebyType">以电影类别查找</a></li>
				</ul>
			</li>

			<li><a href="/retrieveMsg"><i class="icon icon-file"></i> <span>影片管理</span></a></li>

			<li class="active open"><a href="/retrieveNews"><i class="icon-fire"></i> <span>新闻管理</span></a></li>
		</ul>
	</div>



	<div id="style-switcher">
		<i class="icon-arrow-left icon-white"></i>
		<span>Style:</span>
		<a href="#grey" style="background-color: #555555;border-color: #aaaaaa;"></a>
		<a href="#blue" style="background-color: #2D2F57;"></a>
		<a href="#red" style="background-color: #673232;"></a>
	</div>

	<div id="content" style="height: 900px">
		<div id="content-header">
			<h1>Buttons &amp; icons</h1>
			<div class="btn-group">
				<a class="btn btn-large tip-bottom" title="Manage Files"><i class="icon-file"></i></a>
				<a class="btn btn-large tip-bottom" title="Manage Users"><i class="icon-user"></i></a>
				<a class="btn btn-large tip-bottom" title="Manage Comments"><i class="icon-comment"></i><span class="label label-important">5</span></a>
				<a class="btn btn-large tip-bottom" title="Manage Orders"><i class="icon-shopping-cart"></i></a>
			</div>
		</div>
		<div id="breadcrumb">
			<a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
			<a href="#" class="current">Buttons &amp; icons</a>
		</div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="margin-top:10px;margin-left: 50px;">
			<button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">
				新增新闻
			</button>

			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="exampleModalLabel">添加新闻</h4>
						</div>
						<div class="modal-body">
							<form>
								<div class="form-group">
									<label for="news-add" class="control-label">日期：</label>
									<input type="text" class="form-control" id="date-add" name="date-add">
								</div>
								<div class="form-group">
									<label for="date-add" class="control-label">新闻：</label>
									<input type="text" class="form-control" id="news-add" name="news-add">
								</div>

							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
							<button type="button" class="btn btn-primary" onclick="addNews()">添加</button>
						</div>
					</div>
				</div>
			</div>
			<div class="collapse" id="collapseExample">
				<div class="well">

				</div>
			</div>
			</form>
			<h2 class="sub-header">新闻别表</h2>
			<div class="table-responsive" style="width: 1000px;">
				<table class="table table-striped">
					<thead>
					<tr>
						<th style="width:300px">时间</th>
						<th style="width: 300px">新闻</th>
					</tr>
					</thead>
					<tbody th:each="news:${newsList}" id="table1" name="table1">
					<tr>
						<td th:text="${news.date}" name="deletedate" id="deletedate"></td>
						<td th:text="${news.news}" name="deletenews" id="deletenews"></td>
						<td>
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#update" data-whatever="@getbootstrap">
								修改新闻
							</button>
							<div class="modal fade" tabindex="-1" role="dialog" id="update" aria-labelledby="exampleModalLabel">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title">修改新闻</h4>
										</div>
										<div class="modal-body">
											<form>
												<div class="form-group">
													<label for="news-add" class="control-label">修改时间为:</label>
													<input type="text" class="form-control" id="news-update" name="news-update">
												</div>
												<div class="form-group">
													<label for="news-add" class="control-label">修改新闻为:</label>
													<input type="text" class="form-control" id="date-update" name="date-update">
												</div>
											</form>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
											<button type="button" class="btn btn-primary" onclick="updateNews()">修改</button>
										</div>
									</div>
								</div>
							</div>
							<button type="button" class="btn btn-danger" onclick="deleteNews();">删除</button>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<script th:inline="javascript">

	function addNews() {
		var dateadd = $("#date-add").val();
		var newsadd = $("#news-add").val();

		$.ajax({
			url: "/addNews",
			data: {'news':newsadd,'date':dateadd},
			dataType: "JSON",
			method: "POST",
			success: function () {
				window.location.href="/retrieveNews"
			},
			error: function () {
				window.location.href="/retrieveNews"
			}
		});
	}
</script>
<script type="text/javascript">
	var newsremove = document.getElementById("deletenews").innerHTML;
	console.log(newsremove);
	function deleteNews() {
		$.ajax({
			url: "/deleteNews",
			data: {'news':newsremove},
			dataType: "JSON",
			method: "POST",
			success: function () {
				window.location.href="/retrieveNews"
			},
			error: function () {
				window.location.href="/retrieveNews"
			}
		});
	}
</script>

<script>
	var newsremove = document.getElementById("deletenews").innerHTML;
	function updateNews() {
		var newsupdate = $("#news-update").val();
		var dateupdate = $("#date-update").val();
		console.log(newsupdate);
		console.log(dateupdate);
		$.ajax({
			url: "/updateNews",
			data: {'news':newsupdate,'date':dateupdate,'newsremove':newsremove},
			dataType: "JSON",
			method: "POST",
			success: function () {
				window.location.href="/retrieveNews";
			},
			error: function () {
				window.location.href="/retrieveNews"
			}
		});
	}
</script>


<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/jquery.ui.custom.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/unicorn.js"></script>
</body>
</html>
